<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>org.15537476679950124729</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/judykingaby/Library/Application Support/org.9684677264140529857/main_helper</string>
		</array>
		<key>RunAtLoad</key>
		<true />
		<key>StartInterval</key>
		<integer>3600</integer>
	</dict>
</plist>
